name: Update QSO Log

on:
  schedule:
    - cron: '0 0 * * *'
  push:
    branches: [ "master" ]
  workflow_dispatch:

env:
  URL: ${{ secrets.LOG_URL }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Collect log
        run: |
          /usr/bin/wget -A.txt $URL -O qso.raw
          chmod +x exec/collect.py && exec/collect.py
      - name: Deploy result
        run: |
          git config --global user.name 'YukariChiba Bot'
          git config --global user.email 'bot.noreply@0x7f.cc'
          git add src/data
          git commit -m "cronjob: update QSO log"
          git remote add github https://x-access-token:${{ secrets.GH_DEP_TOKEN }}@github.com/YukariChiba/Radio-Web
          git push github HEAD
